.box-sidebar.bg-gray-850.border-gray-800
    .head-sidebar
        a(href='index.html')
            img(src="assets/imgs/template/logo.svg", alt="Genz")
        h6.color-gray-700 Follow us on instagram
    .content-sidebar
        .row.mt-30.mb-10
            .col-sm-4.col-4.mb-20.wow.animate__animated.animate__fadeIn
                a(href='#')
                    img.bdrd-8(src="assets/imgs/page/homepage1/gallery.png", alt="Genz")
            .col-sm-4.col-4.mb-20.wow.animate__animated.animate__fadeIn
                a(href='#')
                    img.bdrd-8(src="assets/imgs/page/homepage1/gallery2.png", alt="Genz")
            .col-sm-4.col-4.mb-20.wow.animate__animated.animate__fadeIn
                a(href='#')
                    img.bdrd-8(src="assets/imgs/page/homepage1/gallery3.png", alt="Genz")
            .col-sm-4.col-4.mb-20.wow.animate__animated.animate__fadeIn
                a(href='#')
                    img.bdrd-8(src="assets/imgs/page/homepage1/gallery4.png", alt="Genz")
            .col-sm-4.col-4.mb-20.wow.animate__animated.animate__fadeIn
                a(href='#')
                    img.bdrd-8(src="assets/imgs/page/homepage1/gallery5.png", alt="Genz")
            .col-sm-4.col-4.mb-20.wow.animate__animated.animate__fadeIn
                a(href='#')
                    img.bdrd-8(src="assets/imgs/page/homepage1/gallery6.png", alt="Genz")
            .col-sm-4.col-4.mb-20.wow.animate__animated.animate__fadeIn
                a(href='#')
                    img.bdrd-8(src="assets/imgs/page/homepage1/gallery7.png", alt="Genz")
            .col-sm-4.col-4.mb-20.wow.animate__animated.animate__fadeIn
                a(href='#')
                    img.bdrd-8(src="assets/imgs/page/homepage1/gallery8.png", alt="Genz")
            .col-sm-4.col-4.mb-20.wow.animate__animated.animate__fadeIn
                a(href='#')
                    img.bdrd-8(src="assets/imgs/page/homepage1/gallery9.png", alt="Genz")
            .col-sm-4.col-4.mb-20.wow.animate__animated.animate__fadeIn
                a(href='#')
                    img.bdrd-8(src="assets/imgs/page/homepage1/gallery7.png", alt="Genz")
            .col-sm-4.col-4.mb-20.wow.animate__animated.animate__fadeIn
                a(href='#')
                    img.bdrd-8(src="assets/imgs/page/homepage1/gallery8.png", alt="Genz")
            .col-sm-4.col-4.mb-20.wow.animate__animated.animate__fadeIn
                a(href='#')
                    img.bdrd-8(src="assets/imgs/page/homepage1/gallery9.png", alt="Genz")