.box-sidebar.bg-gray-850.border-gray-800
    .head-sidebar.wow.animate__animated.animate__fadeIn
        h5.line-bottom Last Comment
    .content-sidebar
        .list-comments
            .item-comment.border-gray-800.wow.animate__animated.animate__fadeIn
                p.color-gray-500.mb-20 “ Gosh jaguar ostrich quail one excited dear hello and bound and the and bland moral misheard roadrunner “
                .box-author-small
                    img(src='assets/imgs/page/homepage1/author6.png', alt='Genz')
                    .author-info
                        span.d-block.color-gray-700.text-sm Jane Cooper
                        span.color-gray-700.text-xs 15 April 2022
            .item-comment.border-gray-800.wow.animate__animated.animate__fadeIn
                p.color-gray-500.mb-20 “ Gosh jaguar ostrich quail one excited dear hello and bound and the and bland moral misheard roadrunner “
                .box-author-small
                    img(src='assets/imgs/page/homepage1/author7.png', alt='Genz')
                    .author-info
                        span.d-block.color-gray-700.text-sm Katen Doe
                        span.color-gray-700.text-xs 15 April 2022
            .item-comment.border-gray-800.wow.animate__animated.animate__fadeIn
                p.color-gray-500.mb-20 “ Gosh jaguar ostrich quail one excited dear hello and bound and the and bland moral misheard roadrunner “
                .box-author-small
                    img(src='assets/imgs/page/homepage1/author8.png', alt='Genz')
                    .author-info
                        span.d-block.color-gray-700.text-sm Barbara Cartland
                        span.color-gray-700.text-xs 15 April 2022
