.box-sidebar.bg-gray-850.border-gray-800
    .head-sidebar
        h5.line-bottom.d-inline-block.wow.animate__animated.animate__fadeIn Popular Tags
    .content-sidebar.pb-20
        a.btn.btn-tags.bg-gray-850.border-gray-800.mr-10.mb-10.bdrd16.wow.animate__animated.animate__fadeIn(href='blog-archive.html') Technology
        a.btn.btn-tags.bg-gray-850.border-gray-800.mr-10.mb-10.bdrd16.wow.animate__animated.animate__fadeIn(href='blog-archive.html') Travel
        a.btn.btn-tags.bg-gray-850.border-gray-800.mr-10.mb-10.bdrd16.wow.animate__animated.animate__fadeIn(href='blog-archive.html') Interior
        a.btn.btn-tags.bg-gray-850.border-gray-800.mr-10.mb-10.bdrd16.wow.animate__animated.animate__fadeIn(href='blog-archive.html') Minimal
        a.btn.btn-tags.bg-gray-850.border-gray-800.mr-10.mb-10.bdrd16.wow.animate__animated.animate__fadeIn(href='blog-archive.html') Plant
        a.btn.btn-tags.bg-gray-850.border-gray-800.mr-10.mb-10.bdrd16.wow.animate__animated.animate__fadeIn(href='blog-archive.html') Nature
        a.btn.btn-tags.bg-gray-850.border-gray-800.mr-10.mb-10.bdrd16.wow.animate__animated.animate__fadeIn(href='blog-archive.html') Business
        a.btn.btn-tags.bg-gray-850.border-gray-800.mr-10.mb-10.bdrd16.wow.animate__animated.animate__fadeIn(href='blog-archive.html') Animal
        a.btn.btn-tags.bg-gray-850.border-gray-800.mr-10.mb-10.bdrd16.wow.animate__animated.animate__fadeIn(href='blog-archive.html') Healthy
        a.btn.btn-tags.bg-gray-850.border-gray-800.mr-10.mb-10.bdrd16.wow.animate__animated.animate__fadeIn(href='blog-archive.html') Space