.box-sidebar.bg-gray-850.border-gray-800
    .head-sidebar.wow.animate__animated.animate__fadeIn
        h5.line-bottom Project information
    .content-sidebar
        .list-comments
            .item-comment.border-gray-800.wow.animate__animated.animate__fadeIn
                p.color-gray-200.mb-10.text-uppercase
                    | Category
                p.color-gray-500
                    | Graphic Design, Marketing Kitsz
            .item-comment.border-gray-800.wow.animate__animated.animate__fadeIn
                p.color-gray-200.mb-10.text-uppercase
                    | Client
                p.color-gray-500
                    | Orion Coporation
            .item-comment.border-gray-800.wow.animate__animated.animate__fadeIn
                p.color-gray-200.mb-10.text-uppercase
                    | Project date
                p.color-gray-500
                    | 01 November, 2022
            .item-comment.border-gray-800.wow.animate__animated.animate__fadeIn
                p.color-gray-200.mb-10.text-uppercase
                    | Project URL
                p.color-gray-500
                    a.text-white(href="#")
                        | www.orioncoporation.com

