.box-page-404
    .text-center.mb-150.mt-100
        .box-404.row
            .col-lg-6
                .image-404
                    img(src="assets/imgs/page/404/404.svg", alt="Genz")
            .col-lg-6
                .info-404.text-start.mt-60
                    h2.color-linear.mb-20 Don't be spooked !
                    p.text-xl.color-gray-500 The page you’re looking for has slipped in to an unknown realm. Click the button below to go back to the homepage.
                    .mt-25
                        a.btn.btn-linear.hover-up(href='index.html') Homepage