.mb-70
    .box-topics.border-gray-800.bg-gray-850
        .row
            .col-lg-2
                h5.mb-15.color-white.wow.animate__animated.animate__fadeInUp(data-wow-delay='0s') Hot topics
                p.color-gray-500.mb-20.wow.animate__animated.animate__fadeInUp(data-wow-delay='.3s') Don't miss out on the latest news about Travel tips, Hotels review, Food guide...
                .box-buttons-slider.position-relative.wow.animate__animated.animate__zoomIn
                    .swiper-button-prev.swiper-button-prev-style-1
                    .swiper-button-next.swiper-button-next-style-1
            .col-lg-10
                .box-swiper
                    .swiper-container.swiper-group-5
                        .swiper-wrapper
                            .swiper-slide
                                .card-style-1
                                    a(href='blog-archive.html')
                                        .card-image
                                            img(src="assets/imgs/page/homepage1/sport.png", alt="Genz")
                                            .card-info
                                                .info-bottom
                                                    h6.color-white.mb-5 Sport
                                                    p.text-xs.color-gray-500 38 Articles
                            .swiper-slide
                                .card-style-1
                                    a(href='blog-archive.html')
                                        .card-image
                                            img(src="assets/imgs/page/homepage1/travel.png", alt="Genz")
                                            .card-info
                                                .info-bottom
                                                    h6.color-white.mb-5 Travel
                                                    p.text-xs.color-gray-500 63 Articles
                            .swiper-slide
                                .card-style-1
                                    a(href='blog-archive.html')
                                        .card-image
                                            img(src="assets/imgs/page/homepage1/design.png", alt="Genz")
                                            .card-info
                                                .info-bottom
                                                    h6.color-white.mb-5 Design
                                                    p.text-xs.color-gray-500 78 Articles
                            .swiper-slide
                                .card-style-1
                                    a(href='blog-archive.html')
                                        .card-image
                                            img(src="assets/imgs/page/homepage1/movie.png", alt="Genz")
                                            .card-info
                                                .info-bottom
                                                    h6.color-white.mb-5 Movie
                                                    p.text-xs.color-gray-500 125 Articles
                            .swiper-slide
                                .card-style-1
                                    a(href='blog-archive.html')
                                        .card-image
                                            img(src="assets/imgs/page/homepage1/lifestyle.png", alt="Genz")
                                            .card-info
                                                .info-bottom
                                                    h6.color-white.mb-5 Lifestyle
                                                    p.text-xs.color-gray-500 78 Articles