#page1.gwd-play-animation .gwd-motion-path-k020-anim-x {
  --gwd-motion-path: {
    "tangentFollowing":false, "sections":[ {
      "controlPoints": ["-29px", "-53px", "-40.92px", "-35.92px", "-56px", "-21.34px", "-79px", "-13px"], "startTimeMs": 4800, "endTimeMs": 5300, "easing": "ease-in-out"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation: 0.5s linear 4.8s 1 normal forwards running gwd-motion-path-k020-keys-x;
  transform: translate3d(-29px, 0px, 0px);
}
@keyframes gwd-motion-path-k020-keys-x {
  0% {
    transform: translate3d(-29px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.512, 0.0195, 0.5525, 0.9311);
  }
  100% {
    transform: translate3d(-79px, 0px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-k020-anim-y {
  animation: 0.5s linear 4.8s 1 normal forwards running gwd-motion-path-k020-keys-y;
  transform: translate3d(0px, -53px, 0px);
}
@keyframes gwd-motion-path-k020-keys-y {
  0% {
    transform: translate3d(0px, -53px, 0px);
    animation-timing-function: cubic-bezier(0.4503, 0.0824, 0.4524, 1.0031);
  }
  100% {
    transform: translate3d(0px, -13px, 0px);
  }
}
[data-gwd-motion-path-node] {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  pointer-events: none;
}