.banner.banner-home3.bg-gray-850
    .container
        .row.align-items-start
            .col-xl-1
            .col-xl-10.col-lg-12
                .row
                    .col-lg-6.pt-100
                        span.text-sm-bold.color-gray-600.wow.animate__animated.animate__fadeInUp
                            | Hello Everyone!
                        h1.color-gray-50.mt-20.mb-20.wow.animate__animated.animate__fadeInUp
                            | I’m
                            a.typewrite.color-linear(href='#', data-period='3000', data-type='[ "Brian Clark", "Designer", "Creator" ]')
                        .row
                            .col-lg-9
                                p.text-base.color-gray-600.wow.animate__animated.animate__fadeInUp
                                    | I use animation as a third dimension by which to simplify experiences and kuiding thro each and every interaction. I’m not adding motion just to spruce things up, but doing it in ways that.
                        .box-subscriber.mt-40.mb-50.wow.animate__animated.animate__fadeInUp
                            .inner-subscriber.bg-gray-800
                                form.d-flex(action="#")
                                    input.input-sybscriber(type="text", placeholder='Type your email address')
                                    button.btn.btn-linear.btn-arrow-right
                                        | Subscribe
                                        i.fi-rr-arrow-small-right
                        .box-socials
                            a.bg-gray-800.hover-up(href='#')
                                span.fb
                            a.bg-gray-800.hover-up(href='#')
                                span.inst
                            a.bg-gray-800.hover-up(href='#')
                                span.snap
                            a.bg-gray-800.hover-up(href='#')
                                span.tw
                    .col-lg-6.text-center
                        .banner-img.no-bg
                            .banner-1.shape-1
                                img(src="assets/imgs/page/homepage3/banner-1.jpg", alt="Genz")
                            .banner-2.shape-2
                                img(src="assets/imgs/page/homepage3/banner-2.jpg", alt="Genz")