.row.align-items-end.mt-30
    .col-lg-9.wow.animate__animated.animate__fadeIn
        h3.color-linear Content publishing cooperation
            br.d-none.d-lg-block
            | with my partners
    .col-lg-3.text-lg-end.mt-15.hover-up.wow.animate__animated.animate__fadeIn(data-wow-delay='0.2s')
        a.link-brand-1(href='#') Learn More
.list-logos.mt-50.mb-30
    .container
        .row
            .swiper-container.swiper-group-1
                .swiper-wrapper.wow.animate__animated.animate__fadeIn
                    .swiper-slide
                        a(href='#')
                            img(src="assets/imgs/page/homepage3/agon.svg", alt="Genz")
                    .swiper-slide
                        a(href='#')
                            img(src="assets/imgs/page/homepage3/mon.svg", alt="Genz")
                    .swiper-slide
                        a(href='#')
                            img(src="assets/imgs/page/homepage3/fig.svg", alt="Genz")
                    .swiper-slide
                        a(href='#')
                            img(src="assets/imgs/page/homepage3/flow.svg", alt="Genz")
                    .swiper-slide
                        a(href='#')
                            img(src="assets/imgs/page/homepage3/evara.svg", alt="Genz")