.row
    .col-lg-12 
        .row 
            .col-lg-4
                include ../../components/sidebar/popular_posts_2.pug
            .col-lg-4
                include ../../components/sidebar/last_comment.pug
            .col-lg-4
                include ../../components/sidebar/gallery-2.pug