extends ../layouts/master.pug

block title
    title Genz - Author page

block header
    include ../components/header-small.pug

block content
    include ../sections/homepage4/banner.pug
    .cover-home3
        .container
            .row
                .col-xl-1
                .col-xl-10.col-lg-12
                    include ../sections/author/posts.pug

    block scripts-custom
