extends ../layouts/master.pug
block variables
  - var CatTitle = 'Portfolio'
  - var PageTitle = 'Business Card Design'
block title
  title Business Card Design

block header
  include ../components/header-small.pug

block content
  .cover-home3
    .container
      .row
        .col-xl-1
        .col-xl-10.col-lg-12
          include ../elements/breadcrumb.pug
          include ../sections/portfolio/portfolio-details.pug

  block scripts-custom
