#page1.gwd-play-animation .gwd-motion-path-1mpv-anim-x {
  --gwd-motion-path: {
    "tangentFollowing":false, "sections":[ {
      "controlPoints": ["-3px", "-40px", "0.47px", "-25.03px", "1.65px", "-11.58px", "0px", "0px"], "startTimeMs": 3800, "endTimeMs": 4300, "easing": "ease-in-out"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation: 0.5s linear 3.8s 1 normal forwards running gwd-motion-path-1mpv-keys-x;
  transform: translate3d(-3px, 0px, 0px);
}
@keyframes gwd-motion-path-1mpv-keys-x {
  0% {
    transform: translate3d(-3px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.5362, 0.3025, 0.2162, 1.7133);
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-1mpv-anim-y {
  animation: 0.5s linear 3.8s 1 normal forwards running gwd-motion-path-1mpv-keys-y;
  transform: translate3d(0px, -40px, 0px);
}
@keyframes gwd-motion-path-1mpv-keys-y {
  0% {
    transform: translate3d(0px, -40px, 0px);
    animation-timing-function: cubic-bezier(0.4703, 0.0427, 0.533, 0.9553);
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
  }
}
[data-gwd-motion-path-node] {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  pointer-events: none;
}