.text-center.mt-70
    h2.color-linear.mb-10 Trending Topics
    p.text-lg.color-gray-500 Discover the most outstanding articles in all topics

.mb-70.mt-70
    .box-topics.box-topics-2.border-gray-800.bg-gray-850
        .row
            .col-lg-12
                .box-swiper
                    .swiper-container.swiper-group-6
                        .swiper-wrapper
                            .swiper-slide
                                .card-style-1
                                    a(href='blog-archive.html')
                                        .card-image
                                            img(src="assets/imgs/page/homepage1/sport.png", alt="Genz")
                                            .card-info
                                                .info-bottom
                                                    h6.color-white.mb-5 Sport
                                                    p.text-xs.color-gray-500 38 Articles
                            .swiper-slide
                                .card-style-1
                                    a(href='blog-archive.html')
                                        .card-image
                                            img(src="assets/imgs/page/homepage1/travel.png", alt="Genz")
                                            .card-info
                                                .info-bottom
                                                    h6.color-white.mb-5 Travel
                                                    p.text-xs.color-gray-500 63 Articles
                            .swiper-slide
                                .card-style-1
                                    a(href='blog-archive.html')
                                        .card-image
                                            img(src="assets/imgs/page/homepage1/design.png", alt="Genz")
                                            .card-info
                                                .info-bottom
                                                    h6.color-white.mb-5 Design
                                                    p.text-xs.color-gray-500 78 Articles
                            .swiper-slide
                                .card-style-1
                                    a(href='blog-archive.html')
                                        .card-image
                                            img(src="assets/imgs/page/homepage1/movie.png", alt="Genz")
                                            .card-info
                                                .info-bottom
                                                    h6.color-white.mb-5 Movie
                                                    p.text-xs.color-gray-500 125 Articles
                            .swiper-slide
                                .card-style-1
                                    a(href='blog-archive.html')
                                        .card-image
                                            img(src="assets/imgs/page/homepage1/lifestyle.png", alt="Genz")
                                            .card-info
                                                .info-bottom
                                                    h6.color-white.mb-5 Lifestyle
                                                    p.text-xs.color-gray-500 78 Articles
                            .swiper-slide
                                .card-style-1
                                    a(href='blog-archive.html')
                                        .card-image
                                            img(src="assets/imgs/page/homepage2/lifestyle.png", alt="Genz")
                                            .card-info
                                                .info-bottom
                                                    h6.color-white.mb-5 Lifestyle
                                                    p.text-xs.color-gray-500 78 Articles
                    .swiper-button-prev.swiper-button-prev-style-2
                    .swiper-button-next.swiper-button-next-style-2