.text-center.mt-30
    h2.color-linear.d-inline-block.mb-10.wow.animate__animated.animate__fadeInUp(data-wow-delay= '.0s')
        | FAQs

.box-faqs.mb-70
    #accordionFaqs.accordion
        .accordion-item.border-gray-800.wow.animate__animated.animate__fadeIn
            h2#headingOne.accordion-header
                button.accordion-button(type='button', data-bs-toggle='collapse', data-bs-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                    span.heading-4.color-white Understanding company billing and accounts
            #collapseOne.accordion-collapse.collapse.show(aria-labelledby='headingOne', data-bs-parent='#accordionFaqs')
                .accordion-body
                    | Nulla non sollicitudin. Morbi sit amet laoreet ipsum, vel pretium mi. Morbi varius, tellus in accumsan blandit, elit ligula eleifend velit, luctus mattis ante nulla condimentum nulla.
        .accordion-item.border-gray-800.wow.animate__animated.animate__fadeIn
            h2#headingTwo.accordion-header
                button.accordion-button.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                    span.heading-4.color-white Updating your billing credit card
            #collapseTwo.accordion-collapse.collapse(aria-labelledby='headingTwo', data-bs-parent='#accordionFaqs')
                .accordion-body
                    | Nulla non sollicitudin. Morbi sit amet laoreet ipsum, vel pretium mi. Morbi varius, tellus in accumsan blandit, elit ligula eleifend velit, luctus mattis ante nulla condimentum nulla.
        .accordion-item.border-gray-800.wow.animate__animated.animate__fadeIn
            h2#headingThree.accordion-header
                button.accordion-button.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                    span.heading-4.color-white Application keyboard shortcuts and tips
            #collapseThree.accordion-collapse.collapse(aria-labelledby='headingThree', data-bs-parent='#accordionFaqs')
                .accordion-body
                    | Nulla non sollicitudin. Morbi sit amet laoreet ipsum, vel pretium mi. Morbi varius, tellus in accumsan blandit, elit ligula eleifend velit, luctus mattis ante nulla condimentum nulla.
        .accordion-item.border-gray-800.wow.animate__animated.animate__fadeIn
            h2#headingFour.accordion-header
                button.accordion-button.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
                    span.heading-4.color-white Cancelling a website subscription
            #collapseFour.accordion-collapse.collapse(aria-labelledby='headingFour', data-bs-parent='#accordionFaqs')
                .accordion-body
                    | Nulla non sollicitudin. Morbi sit amet laoreet ipsum, vel pretium mi. Morbi varius, tellus in accumsan blandit, elit ligula eleifend velit, luctus mattis ante nulla condimentum nulla.
