.box-features.bg-gray-850.border-gray-800
    .row
        .col-lg-4.col-md-6.mb-50.wow.animate__animated.animate__fadeIn(data-wow-delay="0s")
            span.item-icon.bg-gray-950.icon-motion
            h5.color-white.mb-15
                | Motion &
                br
                | Web Graphy
            p.text-base.color-gray-700
                | NetTracking" is a very powerful Web 2.0 site search engine allows you to find  email allerts
        .col-lg-4.col-md-6.mb-50.wow.animate__animated.animate__fadeIn(data-wow-delay="0.1s")
            span.item-icon.bg-gray-950.icon-ui
            h5.color-white.mb-15
                | UI/Ux
                br
                | Consultancy
            p.text-base.color-gray-700
                | NetTracking" is a very powerful Web 2.0 site search engine allows you to find  email allerts
        .col-lg-4.col-md-6.mb-50.wow.animate__animated.animate__fadeIn(data-wow-delay="0.2s")
            span.item-icon.bg-gray-950.icon-branding
            h5.color-white.mb-15
                | Branding
                br
                | & Design
            p.text-base.color-gray-700
                | NetTracking" is a very powerful Web 2.0 site search engine allows you to find  email allerts
        .col-lg-4.col-md-6.mb-50.wow.animate__animated.animate__fadeIn(data-wow-delay="0s")
            span.item-icon.bg-gray-950.icon-product
            h5.color-white.mb-15
                | Product
                br
                | Photography
            p.text-base.color-gray-700
                | NetTracking" is a very powerful Web 2.0 site search engine allows you to find  email allerts
        .col-lg-4.col-md-6.mb-50.wow.animate__animated.animate__fadeIn(data-wow-delay="0.1s")
            span.item-icon.bg-gray-950.icon-key
            h5.color-white.mb-15
                | Key Seo
                br
                | Optimization
            p.text-base.color-gray-700
                | NetTracking" is a very powerful Web 2.0 site search engine allows you to find  email allerts
        .col-lg-4.col-md-6.mb-50.wow.animate__animated.animate__fadeIn(data-wow-delay="0.2s")
            span.item-icon.bg-gray-950.icon-social
            h5.color-white.mb-15
                | Social
                br
                | Management
            p.text-base.color-gray-700
                | NetTracking" is a very powerful Web 2.0 site search engine allows you to find  email allerts