.text-center.mt-30.mb-50
    h2.color-linear.d-inline-block.mb-10.wow.animate__animated.animate__fadeInUp
        | The best work solution,
        <br>
        | for the best price.
.row.mt-50.mb-30
    .col-lg-4.wow.animate__animated.animate__fadeIn(data-wow-delay= '.0s')
        .card-pricing.border-gray-800.bg-gray-850.mb-30
            .card-pricing-top.border-gray-800
                h3.color-white.mb-10 Free
                p.text-lg.color-gray-500.mb-15 Best for personal use
                p.text-base.color-gray-500.mb-30 Get started without creadit card or payment method
                a.btn.btn-border-linear Try for free
                a.btn.btn-link-more Learn more
            .card-pricing-bottom
                h6.color-white.mb-25 What you get:
                ul.list-checked
                    li Unlimited Storage
                    li Unlimited Members
                    li Two-Factor Authentication
                    li Collaborative Docs
                    li Unlimited Storage
                    li Sprint Management
    .col-lg-4.wow.animate__animated.animate__fadeIn(data-wow-delay= '.2s')
        .card-pricing.border-gray-800.bg-gray-850.mb-30
            label.lbl-success.text-base.color-gray-900 Popular
            .card-pricing-top.border-gray-800
                h3.color-white.mb-10 Business
                p.text-lg.color-gray-500.mb-15 Best for personal use
                p.text-base.color-gray-500.mb-30 Get started without creadit card or payment method
                a.btn.btn-border-linear Get started
                a.btn.btn-link-more Learn more
            .card-pricing-bottom
                h6.color-white.mb-25 What you get:
                ul.list-checked
                    li Unlimited Storage
                    li Unlimited Members
                    li Two-Factor Authentication
                    li Collaborative Docs
                    li Unlimited Storage
                    li Sprint Management
    .col-lg-4.wow.animate__animated.animate__fadeIn(data-wow-delay= '.4s')
        .card-pricing.border-gray-800.bg-gray-850.mb-30
            label.lbl-danger.text-base.color-gray-900 Premium
            .card-pricing-top.border-gray-800
                h3.color-white.mb-10 Enterprise
                p.text-lg.color-gray-500.mb-15 Best for personal use
                p.text-base.color-gray-500.mb-30 Get started without creadit card or payment method
                a.btn.btn-border-linear Get started
                a.btn.btn-link-more Learn more
            .card-pricing-bottom
                h6.color-white.mb-25 What you get:
                ul.list-checked
                    li Unlimited Storage
                    li Unlimited Members
                    li Two-Factor Authentication
                    li Collaborative Docs
                    li Unlimited Storage
                    li Sprint Management