.text-center.mt-70.mb-50
    h2.color-linear.d-inline-block.mb-10.wow.animate__animated.animate__fadeInUp
        | Testimonials
    p.text-lg.color-gray-500.wow.animate__animated.animate__fadeInUp
        | Nettracking is a B2B marketing software for telecommunications industry.

.box-testimonials.mb-150animate__fadeIn.mb-100
    .box-swiper
        .swiper-container.swiper-group-3
            .swiper-wrapper.pt-5
                .swiper-slide
                    .card-testimonials.bg-gray-850.border-gray-800.hover-up
                        .box-author.mb-20
                            img(src="assets/imgs/page/about/author.png", alt="Genz")
                            .author-info
                                h6.color-gray-700 Karen Adderiy
                                span.color-gray-700.text-sm Alithemes Co
                        .card-info
                            p.color-gray-500 Dignissim quis turpis quis, semper vehicula dolor. Suspendisse tincidunt consequat quam, ac posuere leo dapibus id.
                .swiper-slide
                    .card-testimonials.bg-gray-850.border-gray-800.hover-up
                        .box-author.mb-20
                            img(src="assets/imgs/page/about/author2.png", alt="Genz")
                            .author-info
                                h6.color-gray-700 Miriam Martinez
                                span.color-gray-700.text-sm Alithemes Co
                        .card-info
                            p.color-gray-500 Dignissim quis turpis quis, semper vehicula dolor. Suspendisse tincidunt consequat quam, ac posuere leo dapibus id.
                .swiper-slide
                    .card-testimonials.bg-gray-850.border-gray-800.hover-up
                        .box-author.mb-20
                            img(src="assets/imgs/page/about/author3.png", alt="Genz")
                            .author-info
                                h6.color-gray-700 Shelley Clifford
                                span.color-gray-700.text-sm Alithemes Co
                        .card-info
                            p.color-gray-500 Dignissim quis turpis quis, semper vehicula dolor. Suspendisse tincidunt consequat quam, ac posuere leo dapibus id.
        .swiper-buttons
            .swiper-button-prev.swiper-button-prev-style-3
            .swiper-button-next.swiper-button-next-style-3