.banner.banner-home4.bg-gray-850
    .container
        .row.align-items-start
            .col-xl-1
            .col-xl-10.col-lg-12
                .pt-20
                    .box-banner-4
                        .banner-image
                            img(src="assets/imgs/page/homepage4/banner.png", alt="Genz")
                        .banner-info
                            span.text-sm-bold.color-gray-600 Hello Everyone!
                            h3.color-linear.d-inline-block.mt-10.mb-15 I'm Steven, a lover of technology, business and experiencing new things
                            .box-socials
                                a.bg-gray-800.hover-up(href='#')
                                    span.fb
                                a.bg-gray-800.hover-up(href='#')
                                    span.inst
                                a.bg-gray-800.hover-up(href='#')
                                    span.snap
                                a.bg-gray-800.hover-up(href='#')
                                    span.tw