h2.color-linear.d-inline-block.mb-10.wow.animate__animated.animate__fadeInUp Editor's picked
p.text-lg.color-gray-500.wow.animate__animated.animate__fadeInUp Featured and highly rated articles

.row.mt-70
    .col-lg-6.wow.animate__animated.animate__fadeIn
        +cardBlog1
            a.color-gray-700.text-sm(href="blog-archive.html")
                |  #Travel
            a.color-gray-700.text-sm(href="blog-archive.html")
                |  #Lifestyle
    .col-lg-6.wow.animate__animated.animate__fadeIn(data-wow-delay='.3s')
        +cardBlog1('assets/imgs/page/homepage1/news1.png', ' Self-observation is the first step of inner unfolding', "assets/imgs/page/homepage1/author2.png", "6 mins read", 'Joseph', "27 Sep 2022", 'single-sidebar.html', "blog-archive.html")
            a.color-gray-700.text-sm(href="blog-archive.html")
                |  #Design
            a.color-gray-700.text-sm(href="blog-archive.html")
                |  #Movie
    .col-lg-4.wow.animate__animated.animate__fadeIn(data-wow-delay='.1s')
        +cardBlog1-small('assets/imgs/page/homepage1/news3.png', ' Self-observation is the first step of inner unfolding', "assets/imgs/page/homepage1/author3.png", "6 mins read", 'Joseph', "27 Sep 2022", 'single-sidebar.html', "blog-archive.html")
            a.color-gray-700.text-sm(href="blog-archive.html")
                |  #Design
            a.color-gray-700.text-sm(href="blog-archive.html")
                |  #Movie
    .col-lg-4.wow.animate__animated.animate__fadeIn(data-wow-delay='.3s')
        +cardBlog1-small('assets/imgs/page/homepage1/news4.png', ' Self-observation is the first step of inner unfolding', "assets/imgs/page/homepage1/author4.png", "6 mins read", 'Joseph', "27 Sep 2022", 'single-sidebar.html', "blog-archive.html")
            a.color-gray-700.text-sm(href="blog-archive.html")
                |  #Design
            a.color-gray-700.text-sm(href="blog-archive.html")
                |  #Movie
    .col-lg-4.wow.animate__animated.animate__fadeIn(data-wow-delay='.5s')
        +cardBlog1-small('assets/imgs/page/homepage1/news5.png', ' Self-observation is the first step of inner unfolding', "assets/imgs/page/homepage1/author5.png", "6 mins read", 'Joseph', "27 Sep 2022", 'single-sidebar.html', "blog-archive.html")
            a.color-gray-700.text-sm(href="blog-archive.html")
                |  #Design
            a.color-gray-700.text-sm(href="blog-archive.html")
                |  #Movie
.text-center.mb-50
    a.btn.btn-linear.btn-load-more.wow.animate__animated.animate__zoomIn
        | Show More Posts
        |
        i.fi-rr-arrow-small-right