footer.footer
	.container
		.footer-1.bg-gray-850.border-gray-800
			.row
				.col-lg-4.mb-30
					a.wow.animate__animated.animate__fadeInUp(href="index.html")
						img(src="assets/imgs/template/logo.svg", alt="Genz"  class='logo-night')
						img(alt='GenZ', src='assets/imgs/template/logo-day.svg' class='d-none logo-day')
					p.mb-20.mt-20.text-sm.color-gray-500.wow.animate__animated.animate__fadeInUp
						| When an unknown prnoto sans took a galley and scrambled it to make specimen book not only five When an unknown prnoto sans took a galley and scrambled it to five centurie.
					h6.color-white.mb-5.wow.animate__animated.animate__fadeInUp
						| Address
					p.text-sm.color-gray-500.wow.animate__animated.animate__fadeInUp
						| 123 Main Street
						br
						| New York, NY 10001
				.col-lg-4.mb-30
					h6.text-lg.mb-30.color-white.wow.animate__animated.animate__fadeInUp
						| Categories
					.row
						.col-6
							ul.menu-footer
								li.wow.animate__animated.animate__fadeInUp
									a.color-gray-500(href='blog-archive.html') Action
								li.wow.animate__animated.animate__fadeInUp
									a.color-gray-500(href='blog-archive.html') Business
								li.wow.animate__animated.animate__fadeInUp
									a.color-gray-500(href='blog-archive.html') Adventure
								li.wow.animate__animated.animate__fadeInUp
									a.color-gray-500(href='blog-archive.html') Canada
								li.wow.animate__animated.animate__fadeInUp
									a.color-gray-500(href='blog-archive.html') America
								li.wow.animate__animated.animate__fadeInUp
									a.color-gray-500(href='blog-archive.html') Curiosity
						.col-6
							ul.menu-footer
								li.wow.animate__animated.animate__fadeInUp
									a.color-gray-500(href='blog-archive.html') Animal
								li.wow.animate__animated.animate__fadeInUp
									a.color-gray-500(href='blog-archive.html') Dental
								li.wow.animate__animated.animate__fadeInUp
									a.color-gray-500(href='blog-archive.html') Biology
								li.wow.animate__animated.animate__fadeInUp
									a.color-gray-500(href='blog-archive.html') Design
								li.wow.animate__animated.animate__fadeInUp
									a.color-gray-500(href='blog-archive.html') Breakfast
								li.wow.animate__animated.animate__fadeInUp
									a.color-gray-500(href='blog-archive.html') Dessert
				.col-lg-4.mb-30
					h4.text-lg.mb-30.color-white.wow.animate__animated.animate__fadeInUp
						| Newsletter
					p.text-base.color-gray-500.wow.animate__animated.animate__fadeInUp
						| Sign up to be first to receive the latest stories inspiring us, case studies, and industry news.
					.form-newsletters.mt-15.wow.animate__animated.animate__fadeInUp
						form(action="#")
							.form-group
								input.input-name.border-gray-500(type="text", placeholder='Your name')
							.form-group
								input.input-email.border-gray-500(type="email", placeholder='Emaill address')
							.form-group.mt-20
								button.btn.btn-linear.hover-up
									| Subscribe
									|
									i.fi-rr-arrow-small-right
			.footer-bottom.border-gray-800
				.row
					.col-lg-5.text-center.text-lg-start
						p.text-base.color-white.wow.animate__animated.animate__fadeIn
							| © Created by
							a.copyright(href='http://alithemes.com', target='_blank')
								|  AliThemes.com
					.col-lg-7.text-center.text-lg-end
						.box-socials
							.d-inline-block.mr-30.wow.animate__animated.animate__fadeIn(data-wow-delay=".0s")
								a.icon-socials.icon-twitter.color-gray-500(href="https://twitter.com") Twitter
							.d-inline-block.mr-30.wow.animate__animated.animate__fadeIn(data-wow-delay=".2s")
								a.icon-socials.icon-linked.color-gray-500(href="https://www.linkedin.com") LinkedIn
							.d-inline-block.wow.animate__animated.animate__fadeIn(data-wow-delay=".4s")
								a.icon-socials.icon-insta.color-gray-500(href="https://www.instagram.com") Instagram
.progressCounter.progressScroll.hover-up.hover-neon-2
	.progressScroll-border
		.progressScroll-circle
			span.progressScroll-text
				i.fi-rr-arrow-small-up
