nav.nav-main-menu.d-none.d-xl-block
    ul.main-menu
        li.has-children
            a.active(href='index.html') Home
            ul.sub-menu
                li
                    a.color-gray-500(href='index.html')
                        | Homepage - 1
                li
                    a.color-gray-500(href='index-2.html')
                        | Homepage - 2
                li
                    a.color-gray-500(href='index-3.html')
                        | Homepage - 3
                li
                    a.color-gray-500(href='index-4.html')
                        | Homepage - 4
        li.has-children
            a.color-gray-500(href='page-about.html') About Me
            ul.sub-menu
                li
                    a.color-gray-500(href='page-portfolio.html')
                        | My Portfolio
                li
                    a.color-gray-500(href='page-portfolio-2.html')
                        | My Portfolio 2
                li
                    a.color-gray-500(href='portfolio-details.html')
                        | Portfolio Details
        li.has-children
            a.color-gray-500(href='#') Category
            ul.sub-menu.two-col
                li
                    a.color-gray-500(href='blog-archive.html')
                        | Blog Category 1
                li
                    a.color-gray-500(href='blog-archive-2.html')
                        | Blog Category 2
                li
                    a.color-gray-500(href='blog-archive-3.html')
                        | Blog Category 3
                li
                    a.color-gray-500(href='blog-archive-4.html')
                        | Blog Category 4
                li
                    a.color-gray-500(href='blog-archive-5.html')
                        | Blog Category 5
        li.has-children
            a.color-gray-500(href='#') Single Post
            ul.sub-menu.two-col
                li
                    a.color-gray-500(href='single-sidebar.html')
                        | Blog Single 1
                li
                    a.color-gray-500(href='single-no-sidebar.html')
                        | Blog Single 2
                li
                    a.color-gray-500(href='single-center.html')
                        | Blog Single 3
        li.has-children
            a.color-gray-500(href='#') Pages
            ul.sub-menu.two-col
                li
                    a.color-gray-500(href='page-about.html')
                        | About
                li
                    a.color-gray-500(href='page-author.html')
                        | Author posts
                li
                    a.color-gray-500(href='page-contact.html')
                        | Contact
                li
                    a.color-gray-500(href='page-search.html')
                        | Search results
                li
                    a.color-gray-500(href='page-login.html')
                        | Login
                li
                    a.color-gray-500(href='page-signup.html')
                        | Signup
                li
                    a.color-gray-500(href='page-404.html')
                        | Page 404
        li
            a.color-gray-500(href='page-contact.html')
                | Contact
