.mobile-header-active.mobile-header-wrapper-style.perfect-scrollbar.bg-gray-900
    .mobile-header-wrapper-inner
        .mobile-header-content-area
            .mobile-logo.border-gray-800
                a.d-flex(href='index.html')
                    img(alt='GenZ', src='assets/imgs/template/logo.svg'  class='logo-night')
                    img(alt='GenZ', src='assets/imgs/template/logo-day.svg' class='d-none logo-day')
            .perfect-scroll
                .mobile-menu-wrap.mobile-header-border
                    nav.mt-15
                        ul.mobile-menu.font-heading
                            li.has-children
                                a(href='index.html') Home
                                ul.sub-menu
                                    li
                                        a(href='index.html') Homepage - 1
                                    li
                                        a(href='index-2.html') Homepage - 2
                                    li
                                        a(href='index-3.html') Homepage - 3
                                    li
                                        a(href='index-4.html') Homepage - 4
                            li.has-children
                                a(href='#') Category
                                ul.sub-menu
                                    li
                                        a(href='blog-archive.html')
                                            | Blog Category 1
                                    li
                                        a(href='blog-archive-2.html')
                                            | Blog Category 2
                                    li
                                        a(href='blog-archive-3.html')
                                            | Blog Category 3
                                    li
                                        a(href='blog-archive-4.html')
                                            | Blog Category 4
                                    li
                                        a(href='blog-archive-5.html')
                                            | Blog Category 5
                            li.has-children
                                a(href='#') Single Post
                                ul.sub-menu
                                    li
                                        a(href='single-sidebar.html')
                                            | Blog Single 1
                                    li
                                        a(href='single-no-sidebar.html')
                                            | Blog Single 2
                                    li
                                        a(href='single-center.html')
                                            | Blog Single 3
                            li.has-children
                                a.color-gray-500(href='page-portfolio.html') Portfolio
                                ul.sub-menu
                                    li
                                        a.color-gray-500(href='page-portfolio.html')
                                            | My Portfolio
                                    li
                                        a.color-gray-500(href='page-portfolio-2.html')
                                            | My Portfolio 2
                                    li
                                        a.color-gray-500(href='portfolio-details.html')
                                            | Portfolio Details
                            li.has-children
                                a(href='#') Pages
                                ul.sub-menu
                                    li
                                        a(href='page-about.html')
                                            | About
                                    li
                                        a(href='page-author.html')
                                            | Author posts
                                    li
                                        a(href='page-contact.html')
                                            | Contact
                                    li
                                        a(href='page-search.html')
                                            | Search results
                                    li
                                        a(href='page-login.html')
                                            | Login
                                    li
                                        a(href='page-signup.html')
                                            | Signup
                                    li
                                        a(href='page-404.html')
                                            | Page 404
                            li
                                a(href='page-contact.html') Contact
                .mobile-account.border-gray-800
                    .mobile-header-top.bg-gray-900
                        .user-account
                            a(href='page-login.html')
                                img(src='assets/imgs/template/ava.jpg', alt='GenZ')
                            .content
                                h6.user-name.color-white
                                    | Hello
                                    span.color-white
                                        |  Steven !
                                p.font-xs.text-muted You have 3 new messages
                    ul.mobile-menu
                        li
                            a(href='page-login.html')
                                | Profile
                        li
                            a(href='page-login.html')
                                | Articles Saved
                        li
                            a(href='page-login.html')
                                | Add new post
                        li
                            a(href='page-login.html')
                                | My Likes
                        li
                            a(href='page-login.html')
                                | Account Setting
                        li
                            a(href='page-login.html')
                                | Sign out
                .site-copyright.color-gray-400.mt-30
                    | Copyright 2023 &copy; Genz - Personal Blog Template.
                    br
                    | Designed by
                    a(href='http://alithemes.com', target='_blank') &nbsp; AliThemes
