script(src='assets/js/vendors/modernizr-3.6.0.min.js')
script(src='assets/js/vendors/jquery-3.6.0.min.js')
script(src='assets/js/vendors/jquery-migrate-3.3.0.min.js')
script(src='assets/js/vendors/bootstrap.bundle.min.js')
script(src='assets/js/vendors/waypoints.js')
script(src='assets/js/vendors/wow.js')
script(src='assets/js/vendors/text-type.js')
script(src='assets/js/vendors/swiper-bundle.min.js')
script(src='assets/js/vendors/jquery.progressScroll.min.js')