.sidebar 
    include ../components/sidebar/categories.pug
    include ../components/sidebar/popular_posts.pug
    include ../components/sidebar/last_comment.pug
    include ../components/sidebar/gallery.pug