#page1.gwd-play-animation .gwd-motion-path-1asl-anim-x {
  --gwd-motion-path: {
    "tangentFollowing":false, "sections":[ {
      "controlPoints": ["-18px", "-80px", "-6.18px", "-55.38px", "-0.53px", "-30.63px", "0px", "0px"], "startTimeMs": 4800, "endTimeMs": 5300, "easing": "ease-in-out"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation: 0.5s linear 4.8s 1 normal forwards running gwd-motion-path-1asl-keys-x;
  transform: translate3d(-18px, 0px, 0px);
}
@keyframes gwd-motion-path-1asl-keys-x {
  0% {
    transform: translate3d(-18px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.4574, 0.1633, 0.3202, 1.0834);
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-1asl-anim-y {
  animation: 0.5s linear 4.8s 1 normal forwards running gwd-motion-path-1asl-keys-y;
  transform: translate3d(0px, -80px, 0px);
}
@keyframes gwd-motion-path-1asl-keys-y {
  0% {
    transform: translate3d(0px, -80px, 0px);
    animation-timing-function: cubic-bezier(0.4773, 0.0375, 0.5355, 0.951);
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
  }
}
[data-gwd-motion-path-node] {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  pointer-events: none;
}