.pt-30.border-bottom.border-gray-800.pb-20
    .box-breadcrumbs
        ul.breadcrumb
            li
                a.home(href='index.html') Home
            li
                a(href='blog-archive.html')= CatTitle
            li
                span= PageTitle