.row.align-items-end.mt-50
    .col-lg-7.mb-20
        .d-inline-block.position-relative
            h1.color-white.mb-20.color-linear.wow.animate__animated.animate__fadeIn= PageTitle
            span.btn.btn-linear-small.btn-number-arts 36 articles
        p.color-gray-500.text-base.wow.animate__animated.animate__fadeIn Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis nisi sed turpis vulputate viverra. Morbi ligula elit, hendrerit non nisl tincidunt, sodales consequat magna.
    .col-lg-5.mb-20.text-start.text-lg-end
        .box-breadcrumbs.wow.animate__animated.animate__fadeIn
            ul.breadcrumb
                li
                    a.home(href='index.html') Home
                li
                    a(href='blog-archive.html') Blog
                li
                    span= PageTitle
    .col-lg-12
        .border-bottom.border-gray-800.mt-10.mb-30