.row.align-items-end.mt-50
    .col-lg-12.text-center
        .d-inline-block.position-relative
            h1.color-white.mb-10= PageTitle
        p.color-gray-500.text-base.mb-20 We found 22 articles for "Hello" key word
    .col-lg-12.text-center
        .box-breadcrumbs
            ul.breadcrumb
                li
                    a.home(href='index.html') Home
                li
                    span= PageTitle
    .col-lg-12
        .border-bottom.border-gray-800.mt-30.mb-30